body {
    background-color: #edecec;
}

header {
    padding: 1.5rem 3rem 0.5rem 3rem;
}

.header__inner {
    display: flex;
    align-items: flex-end;
    width: 20%;
}

.title__logo {
    padding: 0.7rem 0.7rem;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #808080;
    background-color: #1a40ff;
    cursor: pointer;
}

.title {
    margin: 0 0 0 1.5rem;
    line-height: 1.5rem;
    color: #1a40ff;
}

main {
    padding: 1rem 3rem;
}

/*  max-width: 1024px */

@media screen and (max-width: 1024px) {
    main {
        padding: 1rem;
    }
}

/* max-width:768px */

@media screen and (max-width: 768px) {
    .header__inner {
        width: 80%;
    }

    main {
        padding: 1rem;
    }
}

/* max-width:480px */

@media screen and (max-width: 480px) {
    header {
        padding: 1.5rem;
    }

    main {
        padding: 1rem 0.5rem;
    }
}
