a {
    margin-bottom: 1rem;
    display: block;
    color:inherit;
    text-decoration: none;
}

.admin__button {
    margin-bottom: 1rem;
    display: block;
    color:inherit;
    color: crimson;
    text-decoration: none;
}