body {
    background-color: #f5f5f5;
}

header {
    padding: 2rem 3rem;
}

.header__inner {
    display: flex;
    align-items: flex-end;
    width: 20%;
}

.title__logo {
    padding: 0.7rem 0.7rem;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #808080;
    background-color: #1a40ff;
    cursor: pointer;
}

.title__logo img {
    width: 100%;
}

.title {
    margin: 0 0 0 1.5rem;
    line-height: 1.5rem;
    color: #1a40ff;
}

.user__name {
    text-align: center;
}

.user__name h2 {
    margin: 1rem;
}

.content__wrapper {
    display: flex;
    padding: 0rem 1rem;
}

/* ここから予約カードの装飾 */

.content__center {
    padding: 0.5rem 1rem;
    width: 28%;
}

.reserve__table {
    padding: 1.2rem 1.2rem 1rem 1.2rem;
    margin-bottom: 2rem;
    width: 85%;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #808080;
    color: #fff;
    background-color: #1a40ff;
}

#delete__modal-button {
    cursor: pointer;
}

.success-message {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: center;
    color: #ffffb2;
}

.title__right a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.reserve__table table {
    width: 100%;
    text-align: left;
}

.reserve__table th {
    padding: 0.3rem 0;
    font-weight: 400;
}

.reserve__table td {
    padding: 0.3rem 0;
}

.reserve__update-button {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
    text-align: center;
}

.modal__open-button {
    padding: 0.3rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #1a40ff;
    background-color: #fff;
    cursor: pointer;
}

.qrcode__button {
    padding: 0.3rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #1a40ff;
    background-color: #fff;
    cursor: pointer;
}

.pay__form {
    margin-top: 0.8rem;
    text-align: center;
}

.menu__button {
    text-align: center;
    margin-top: 0.4rem;
}

.menu__button button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #1a40ff;
}

.payed__button {
    text-align: center;
    margin-top: 0.4rem;
}

.payed__button button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #1a40ff;
}

/* 予約削除モーダルの装飾 */

.delate__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.delate__modal-content {
    position: relative;
    margin: 15% auto;
    padding: 2rem 1rem 1rem 1rem;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%;
    color: black;
    background-color: #fefefe;
}

.modal__main {
    text-align: center;
}

.modal__title {
    margin: 0;
    font-size: 1.3rem;
}

.delete__button {
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    color: #f4f4f4;
    background-color: #1a40ff;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    right: 0.5rem;
    top: 0.8rem;
    line-height: 1rem;
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

/* 予約変更モーダルの装飾 */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    width: 40%;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: #f4f4f4;
}

.modal__header {
    text-align: center;
}

.modal__close-button {
    position: absolute;
    right: 1rem;
    top: 0.3rem;
    color: #aaa;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.update__table {
    width: 100%;
}

.update__table table {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.update__table-th {
    width: 40%;
    font-size: 1.5rem;
    font-weight: 400;
}

.update__table-td {
    font-size: 1.3rem;
}

.update__table-td input {
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.update__table-td select {
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.modal__footer {
    text-align: center;
    margin-top: 1rem;
}

.form-button {
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 5px;
    color: #f5f5f5;
    background-color: #1a40ff;
    cursor: pointer;
}

/* 予約履歴カードの装飾 */

.content-left {
    padding: 0.5rem 1rem;
    width: 28%;
}

.reserved__table {
    padding: 1.2rem;
    margin-bottom: 2rem;
    width: 85%;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #808080;
    color: #fff;
    background-color: #1e90ff;
}

.table__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: center;
}

.title__left {
    display: flex;
}

.table__img {
    width: 1.5rem;
}

i {
    font-size: 1.5rem;
}

.table__img img {
    width: 100%;
}

.table__title-item {
    margin: 0 0 0 3rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.reserved__table table {
    width: 100%;
    text-align: left;
}

.reserved__table th {
    padding: 0.3rem 0;
    font-weight: 400;
}

.reserved__table td {
    padding: 0.3rem 0;
}

.reserved__review-button {
    margin-top: 2.6rem;
    text-align: center;
}

.reviewed__button {
    margin-top: 2.6rem;
    text-align: center;
}

.reviewed__button button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #1e90ff;
}

.review__button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #ff1493;
    background-color: #fff;
    cursor: pointer;
}

/* お気に入りカードの装飾*/

.content-right {
    padding: 0.5rem;
    width: 44%;
}

.favorite-card__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.favorite-card {
    margin-bottom: 3rem;
    width: 47%;
    height: 16.5rem;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #808080;
    background-color: #fff;
}

.shop__img {
    width: 100%;
    height: 50%;
}

.shop__img img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
}

.card__content {
    padding: 1rem 1rem;
}

.card__title {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.shop__tag {
    display: flex;
}

.shop__tag small {
    margin: 0rem 0.5rem 0 0;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.detail-button {
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #1a40ff;
    cursor: pointer;
}

.liked {
    font-size: 2rem;
    color: red;
}

/* max-width:768px */

@media screen and (max-width: 768px) {
    .header__inner {
        width: 60%;
    }

    .content__wrapper {
        display: block;
    }

    .content-left {
        padding: 0.5rem 0;
        width: 100%;
    }

    .modal__open-button {
        font-size: 0.8rem;
    }

    .qrcode__button {
        font-size: 0.8rem;
    }

    .table__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .table__wrapper::before {
        content: "";
        display: block;
        width: 31%;
        order: 1;
    }
    .table__wrapper::after {
        content: "";
        display: block;
        width: 31%;
    }

    .reserved__table {
        width: 31%;
    }

    .review__button {
        font-size: 0.8rem;
    }

    .content__center {
        padding: 0.5rem 0;
        width: 100%;
    }

    .reserve__table {
        width: 31%;
    }

    .modal__content {
        width: 70%;
    }

    .update__item {
        font-size: 0.8rem;
    }

    .content-right {
        padding: 0.5rem 0;
        width: 100%;
    }

    .favorite-card__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .favorite-card__wrapper::before {
        content: "";
        display: block;
        width: 31%;
        order: 1;
    }
    .favorite-card__wrapper::after {
        content: "";
        display: block;
        width: 31%;
    }

    .favorite-card {
        width: 31%;
    }
}

/* max-width:480px */

@media screen and (max-width: 480px) {
    body {
        padding: 1rem 0.5rem;
    }

    header {
        padding: 1.5rem;
    }

    .content__wrapper {
        padding: 0;
    }

    .table__wrapper {
        display: block;
    }

    .content-left {
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .reserve__table,
    .reserved__table {
        padding: 1rem;
        width: 100%;
    }

    .delate__modal-content {
        width: 80%;
    }

    .modal__title {
        margin: 0;
        font-size: 1rem;
    }

    .modal__content {
        width: 90%;
    }

    .content__center {
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .reserve__table table {
        font-size: 0.8rem;
    }

    .content-right {
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .favorite-card__wrapper {
        display: block;
    }

    .favorite-card {
        width: 100%;
    }
}
