.content__text {
    padding: 3rem 1rem;
    border-radius: 5px;
    background-color: #fff;
}

p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

form {
    text-align: center;
}

button {
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #1a40ff;
}

@media screen and (max-width: 480px) {
    p {
        font-size: 1rem;
    }
}
