.content__title {
    display: flex;
    justify-content: space-between;
}

.content__title p {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.content__title .content__title-sml {
    font-size: 1rem;
}

.shop-data__input-box {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    color: #fff;
    background-color: #1a40ff;
}

.flex__box {
    display: flex;
    justify-content: space-between;
}

.input__item1 {
    padding: 0;
    width: 30%;
}

.input__title {
    display: flex;
}

.form__error {
    color: #ff9999;
}

.area__box {
    display: flex;
}

.selected__area {
    margin-left: 1rem;
}

.genre__box {
    display: flex;
}

.selected__genre {
    margin-left: 1rem;
}

.input__item1 input {
    padding: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.3rem;
    outline: 0;
}

.input__item1 select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    outline: 0;
}

.input__item2 {
    padding: 0;
    width: 60%;
}

.input__item2 textarea {
    margin-bottom: 0.8rem;
    width: 98%;
    resize: none;
    font-size: 1.5rem;
    outline: 0;
}

.form__button {
    text-align: center;
}

.form__button button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    width: 10%;
    border: none;
    border-radius: 6px;
    color: #1a40ff;
    background-color: #fff;
    font-size: 1rem;
}

.content__title2 {
    display: flex;
}

.content__title2 p {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.success-message {
    margin-left: 3rem;
    font-size: 1.5rem;
    color: blue;
}

.error-message {
    margin-left: 3rem;
    font-size: 1.5rem;
    color: red;
}

.shop_menu__create-box {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    color: #fff;
    background-color: #1a40ff;
}

.shop_menu__form {
    display: flex;
}

.shop_menu__input-box {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.shop_menu__form-button {
    margin: 0 auto;
}

.shop_menu__form-button button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 6px;
    color: #1a40ff;
    background-color: #fff;
    font-size: 1rem;
}

.name__input input {
    padding: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.3rem;
    outline: 0;
}

.price__input input {
    padding: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.3rem;
    outline: 0;
}

.shop_menu__list {
    margin: 0 auto;
}

.shop_menu__list label {
    display: block;
    padding: 0.3rem 2rem;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    border: #a0aef3 1px solid;
    border-radius: 5px;
    color: #1a40ff;
    background-color: #f4f4f4;
    cursor: pointer;
}

.shop_menu__list [type="checkbox"] {
    display: none;
}

.shop_menu {
    width: 60%;
    height: 0;
    padding: 0;
    color: black;
    background-color: #f4f4f4;
    overflow: hidden;
}

.switch:checked + .shop_menu {
    margin: 0 auto;
    padding: 0.2rem;
    height: auto;
    border: 1px solid #ccc;
}

.reserve__list-wrapper {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: #a0aef3 1px solid;
    background-color: #fff;
}

.reserve__table table {
    width: 100%;
    text-align: left;
}

.reserve__table tr {
    border-bottom: #a0aef3 1px solid;
}

.reserve__table th {
    width: 30%;
}

.reserve__table td {
    padding: 1rem 0;
    width: 30%;
}

.table__header {
    border-top: solid 1px #c2c2c2;
    border-bottom: solid 1px #c2c2c2;
}

.table__header th {
    padding: 1rem;
}

.table__description {
    border-bottom: solid 1px #c2c2c2;
}

.table__description td {
    padding: 1rem;
}

.table__description td:nth-of-type(1) {
    width: 20%;
}

.table__description td:nth-of-type(2) {
    width: 60%;
}

.table__description td:nth-of-type() {
    width: 20%;
}

.review__stars {
    font-size: 1.5rem;
    color: #1a40ff;
}

.review__img {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.review__img img {
    width: 100%;
}

.review_img-null {
    text-align: center;
}

/* max-width:768px */

@media screen and (max-width: 768px) {
    .input__title {
        display: block;
    }

    .form__button button {
        width: 30%;
    }

    .name__input input {
        font-size: 1rem;
        width: 80%;
    }

    .price__input input {
        font-size: 1rem;
        width: 80%;
    }

    .shop_menu__form-button button {
        padding: 0.3rem 2rem;
    }

    .table__description td:nth-of-type(1) {
        width: 23%;
    }
}

/* max-width:480 */

@media screen and (max-width: 480px) {
    .content__title {
        display: block;
    }

    .shop-data__input-box {
        padding: 1rem 0.5rem;
    }

    .flex__box {
        display: block;
    }

    .input__item1 {
        width: 100%;
    }

    .input__item2 {
        width: 100%;
    }

    .shop_menu__form {
        display: block;
    }

    .shop_menu__input-box {
        display: block;
        width: 100%;
    }

    .name__input input,
    .price__input input {
        width: 100%;
    }

    .shop_menu__form-button {
        text-align: center;
    }

    .shop_menu__form-button button {
        margin: 0;
    }

    .shop_menu__list label {
        margin-top: 1rem;
        width: 80%;
    }

    .shop_menu {
        width: 80%;
    }

    .reserve__list-wrapper {
        padding: 0.3rem;
    }

    .reserve__table {
        overflow: scroll;
    }

    .reserve__table table {
        width: 500px;
    }

    .review__list-wrapper {
        overflow: scroll;
    }

    .review__list-wrapper table {
        width: 800px;
    }
}
